---
import gremioinfo from '../data/gremiosData';
const arr = Array.from(gremioinfo) ;
---

<div class="relative max-w-[42rem] my-0 mx-auto flex-grow justify-end">
    <div class="flex flex-row relative overflow-hidden aspect-[16/15] overflow-x-hidden snap-x snap-mandatory scroll-smooth rounded-lg translate-y-[25%]
                [&>div]:flex [&>div]:flex-col [&>div]:snap-start
                [&>div>h2]:justify-center [&>div>h2]:text-5xl [&>div>h2]:uppercase [&>div>p]:object-cover [&>div>p]:text-xl [&>div>p]:w-[42rem]
                sm:[&>div>h2]:text-2xl sm:[&>div>p]:text-lg">
        <div id="i1">
            <h2>{arr[0].title}</h2> <br>
            <p>{arr[0].body}</p>
        </div>
        <div id="i2">
            <h2>{arr[1].title}</h2> <br>
            <p>{arr[1].body}</p>
        </div>
        <div id="i3">
            <h2>{arr[2].title}</h2> <br>
            <p>{arr[2].body}</p>
        </div>
        <div id="i4">
            <h2>{arr[3].title}</h2> <br>
            <p>{arr[3].body}</p>
        <div/>
    </div>
    <div class="flex gap-4 relative bottom-5 -translate-x-2/4 z-30 w-screen
                [&>a]:w-2 [&>a]:h-2 [&>a]:rounded-[50%] [&>a]:bg-gray-500 [&>a]:opacity-75 [&>a]:transition-opacity [&>a]:duration-250 [&>a]:ease
                ">
        <a class="hover:opacity-100" href="#i1"></a>
        <a class="hover:opacity-100" href="#i2"></a>
        <a class="hover:opacity-100" href="#i3"></a>
        <a class="hover:opacity-100" href="#i4"></a>
    </div>
</div>